<h1>View cua App Component</h1>
<!-- <app-font-size-editor></app-font-size-editor> -->
<!-- <app-b-property></app-b-property> -->
<!-- <app-c-class></app-c-class> -->
<!-- <app-d-event></app-d-event> -->
<!-- <app-e-two-way></app-e-two-way> -->
<!-- <app-f-pipes></app-f-pipes> -->
<!-- <app-g-ng-if></app-g-ng-if> -->
<!-- <app-h-ng-for></app-h-ng-for> -->
<!-- <app-i-ng-switch></app-i-ng-switch> -->
<!-- <app-j-ng-class></app-j-ng-class> -->
<!-- <app-k-ng-style></app-k-ng-style> -->
<!-- <app-n-input [item]="'hello'" [name]="title"></app-n-input> -->
<!-- <app-o-output (gate_1)="comChaXuLy()"></app-o-output> -->
<!-- <app-game-numbers></app-game-numbers> -->
<!-- <app-u-template-driven></app-u-template-driven> -->
<!-- <app-v-data-driven></app-v-data-driven> -->
<!-- <app-products></app-products> -->
<!-- <header></header> -->
<router-outlet></router-outlet>
<!-- <footer></footer> -->
